.diff-navigation-btns {
  display: none;
  justify-content: center;

  @include breakpoint($screen-lg) {
    display: flex;
  }
}

.diff-navigation-btn {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: var(--mono-font-stack);
  font-size: var(--text-size-xxs);
  line-height: var(--line-height-m);

  &[disabled] {
    color: var(--gray-6);
  }

  &__icon {
    margin-right: 8px;
    fill: currentColor;

    &_direction_bottom {
      transform: rotate(180deg);
    }
  }
}
