.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--gray-0);

  &__inner {
    display: flex;
    padding-top: 19px;

    @include breakpoint($screen-lg) {
      padding-top: 16px;
    }
  }

  &__logo {
    margin-right: 26px;

    @include breakpoint($screen-lg) {
      margin-right: 40px;
    }
  }

  &__dropdown {
    margin-top: 5px;
    margin-bottom: -1px;

    @include breakpoint($screen-lg) {
      margin-top: 4px;
    }
  }
}
